body{
    background-color: #232323;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.square{
    width: 30%;
    background: purple;
    padding-bottom:30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background .8s;
    -webkit-transition: background .8s;
    -moz-transition:background .8s ;
}

.container{
    max-width: 600px;
    margin: 20px auto;
}

h1{
    color: #ffffff;
    text-align: center;
    background-color:steelblue;
    margin: 0; 
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}

#colorDisplay{
    font-size: 200%;
    /* letter-spacing: .5px; */
}

#message{
    display: inline-block;
    width: 20%;
}

.messageColor{
    color: white;
}

button{
    border: none;
    background: none;
    height: 100%;
    text-transform: uppercase;
    color: steelblue;
    font-weight: 700px;
    letter-spacing: 1px;
    font-family: inherit;
    transition: all .5s;
    -webkit-transition: background .5s;
    -moz-transition:background .5s ;
    outline: none;
}

button:hover{
    color: white;
    background-color: steelblue;
}

#stripe{
   background-color: white;
   height: 30px;
   text-align: center;
   color: black; 
}

.selected{
    color: white;
    background-color: steelblue;
}